*{
    overflow-x: hidden;
}

::-webkit-scrollbar{
    display: none;
}
#ca{
    transition: 0.5s ease-in-out;
   
}


#ca:hover{
    border:1px solid #ffa500;
    box-shadow: 0 4px 8px 0 rgba(108, 102, 102, 0.2), 0 6px 20px 0 rgba(105, 100, 100, 0.19);
}
#im{
    transition: 0.5s ease-in-out;
    
  
}
#im:hover{
transform: scale(0.95);
}
#log{
    animation: rotation 10s  linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
#log:hover{
    animation:none;
}
#Button{
    border-radius: 10px;
}
